/* notas_residentes.css */
/* Usa a base.css para a maior parte do estilo */

.titulo-registros h3 {
  margin: 0;
}

.titulo-registros {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo-registros .historico {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

.registro p {
  margin: 4px 0;
  color: #333;
  font-weight: normal;
  line-height: 1.5;
}

.registro strong {
  color: #003366;
}
