<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Portal do Residente</title>
  <link rel="stylesheet" href="../static/css/base.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/html5-qrcode"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../static/js/scanner.js"></script>
</head>
<body>
  <header class="topbar">
    <h1>Portal do Residente</h1>
    <div class="icons">
      <img src="notificacao-icon.svg" alt="Notificação" />
      <img src="ajuda-icon.svg" alt="Ajuda" />
      <form action="/" method="get">
        <button type="submit" class="sair-btn">Sair</button>
      </form>
    </div>
  </header>

  <section class="perfil">
    <div class="info">
      <h2>Dr. Claudio Monteiro</h2>
      <p>Residente - Cirurgia Cardiovascular</p>
      <p>Hospital das Clínicas<br/>UTI Coronária</p>
    </div>
    <div class="id-info">
      <p>ID: 03223</p>
      <p>Turno: Diurno</p>
    </div>
  </section>

  <section class="acoes">
    <!-- Registrar Presença -->
    <div class="acao" onclick="startScanner()">
      <img src="../static/images/icons/schedule.png" alt="Registrar Presença" />
      <span>Registrar Presença</span>
    </div>
    <a href="">
      <div class="acao">
        <img src="../static/images/icons/calendar.png" alt="Rotina Semanal" />
        <span>Rotina Semanal</span>
      </div>
    </a>
    <a href="/avisos">
      <div class="acao">
        <img src="../static/images/icons/doorbell.png" alt="Avisos" />
        <span>Avisos</span>
      </div>
    </a>
    <a href="/notas">
      <div class="acao">
        <img src="../static/images/icons/passfail.png" alt="Notas" />
        <span>Avaliações</span>
      </div>
    </a>
  </section>

  <section class="registros">
    <div class="titulo-registros">
      <h3>Registros recentes</h3>
      <a href="#" class="historico">Visualizar Histórico</a>
    </div>
    <div class="tabela">
      <div class="registro">
        <p><strong>18/04/2025</strong><br>Entrada: 07:00<br>Saída: 11:10<br>Entrada: 12:10<br>Saída: 17:00</p>
      </div>
      <div class="registro">
        <p><strong>18/04/2025</strong><br>Entrada: 07:00<br>Saída: 11:10<br>Entrada: 12:10<br>Saída: 17:00</p>
      </div>
      <div class="registro">
        <p><strong>18/04/2025</strong><br>Entrada: 07:00<br>Saída: 11:10<br>Entrada: 12:10<br>Saída: 17:00</p>
      </div>
      <div class="registro">
        <p><strong>18/04/2025</strong><br>Entrada: 07:00<br>Saída: 11:10<br>Entrada: 12:10<br>Saída: 17:00</p>
      </div>
    </div>
  </section>

<!-- Modal do scanner -->
<div id="scanner-modal" class="modal-overlay" style="display: none;">
  <div class="modal-content">
    <button onclick="stopScanner()" class="btn-fechar-scanner">✕ Fechar Scanner</button>
    <div id="reader" class="scanner-box"></div>
  </div>
</div>


</body>
</html>

