<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Avaliações</title>
  <link rel="stylesheet" href="../static/css/base.css" />
  <link rel="stylesheet" href="../static/css/notas_residentes.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
</head>
<body>
  <header class="topbar">
    <h1>Avaliações</h1>
      <div class="icons">

        <img src="../static/images/icons/msg.png" alt="Mensagens" class="icon-btn" id="msg-btn" />
        <img src="../static/images/icons/bell.png" alt="Notificações" class="icon-btn" id="noti-btn" />

        <form action="/" method="get">
          <button type="submit" class="sair-btn">Sair</button>
        </form>
      </div>
  </header>

  <div class="fixed-popup" id="msg-popup">
  <div class="popup-header">
    <span>Mensagens</span>
    <button class="close-popup" data-target="msg-popup">×</button>
  </div>
  <div class="popup-body">
    <p>Você não tem mensagens novas.</p>
  </div>
</div>

  <section class="perfil">
    <div class="info">
      <h2>Dr. Claudio Monteiro</h2>
      <p>Residente - Cirurgia Cardiovascular</p>
      <p>Hospital das Clínicas<br/>UTI Coronária</p>
    </div>
    <div class="id-info">
      <p>ID: 03223</p>
      <p>Turno: Diurno</p>
    </div>
  </section>

  <section class="registros">
    <div class="titulo-registros">
      <h3>Avaliações Recentes</h3>
      <a href="{{ url_for('home_residente') }}" class="historico">← Voltar ao Início</a>
    </div>

    <div class="tabela">
      <div class="registro">
        <p><strong>Avaliado por: Prof. Dr. Fúvio Sherpack</strong><br>Data: 15/04/2025</p>
        <p>Excelente desempenho na realização de procedimentos cirúrgicos.<br>
        Demonstrou ótimo raciocínio clínico e liderança na equipe.</p>
      </div>

      <div class="registro">
        <p><strong>Avaliado por: Profª. Dra. Ana Pereira</strong><br>Data: 16/04/2025</p>
        <p>Necessita melhorar a documentação dos casos clínicos.<br>
        Recomendado foco no atendimento humanizado.</p>
      </div>

      <div class="registro">
        <p><strong>Avaliado por: Prof. Dr. Luiz Moreira</strong><br>Data: 17/04/2025</p>
        <p>Apresentou grande evolução na interpretação de exames laboratoriais.<br>
        Continue com o empenho e participação nas discussões.</p>
      </div>
    </div>
  </section>
  <script src="../static/js/script.js"></script>
</body>
</html>
